:root {
    /* cores usadas no site */
    --azul-escuro: #090E16;
    --branco: #FFFFFF;
    --cinza-claro: #D4BFFF;
    --roxo-claro: #7B4AE2;
    --roxo-claro-opacidade: hsl(259, 72%, 59%, 0.07);
    --roxo-medio: rgb(123, 74, 226, 0.5);

    /* fontes usadas no site */
    --raleway: 'Raleway';
}

body {
    background-color: var(--azul-escuro);
    font-family: var(--raleway);
}

.container {
    padding-right: 8%;
    padding-left: 8%;
}

.subtitulo {
    color: var(--branco);
    font-size: 2rem;
    font-weight: bolder;
}

.texto-personalizado {
    background-color: var(--roxo-claro-opacidade);
    border-radius: 0.6rem;
    color: var(--roxo-claro);
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 0.6rem;
    text-align: center;
    width: 60%;
}

.barra-divisoria {
    background-color: var(--roxo-claro-opacidade);
    height: 0.1rem;
    margin-top: 10rem;
    width: 100%;
}

.card-personalizado {
    background-color: var(--roxo-claro-opacidade);
}

.voltar-topo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 8rem 0;
}

.voltar-topo__texto {
    border-bottom: 1px solid var(--azul-escuro);
    color: var(--roxo-claro);
    font-weight: bold;
    transition: 0.3s;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
}

.voltar-topo:hover .voltar-topo__texto{
    border-bottom: 1px solid var(--roxo-claro);
    opacity: 1;
}

#profissional {
    display: block;
}

#academico {
    display: none;
}

#estudo {
    display: none;
}

/* Responsividade para mobile */
@media screen and (max-width: 480px) {
    .barra-divisoria {
        display: none;
    }
    .voltar-topo{
        display: none;
    }
}