.cabecalho {
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:2rem 6rem;
    padding: 1rem;
    background-color: var(--roxo-claro-opacidade);
    border-radius: 1.2rem;
}

.cabecalho__logo {
    width: 2rem;
    padding-left: 1rem;
}

.cabecalho__link{
    opacity: 0.5;
    display: inline-block;
    font-size: 0.7rem;
    padding: 0 1rem;
}

.cabecalho__navegacao {
    text-align: center;
}