.cabecalho {
    align-items: center;
    background-color: var(--roxo-claro-opacidade);
    border-radius: 1.2rem;
    color: var(--branco);
    display: flex;
    justify-content: space-between;
    margin:2rem 6rem;
    padding: 1rem;
}

.cabecalho__logo {
    margin-left: 1rem;
    width: 2rem;
}

.cabecalho__link{
    border-bottom: 1px solid var(--roxo-claro-opacidade);
    display: inline-block;
    font-size: 0.7rem;
    margin: 0 1rem;
    opacity: 0.5;
    padding-bottom: 0.2rem;
    transition: 0.3s;
}

.cabecalho__link:hover{
    border-bottom: 1px solid var(--cinza-claro);
    opacity: 1;
}

.cabecalho__navegacao {
    text-align: center;
}

/* Responsividade para mobile */
@media screen and (max-width: 480px) {
    .cabecalho {
        display: none;
    }
}