.carreira {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.carreira > .subtitulo {
    font-size: 2rem;
}

.carreira .texto-personalizado{
    margin: 5rem 0 2rem;
    text-align: center;
    width: 15%;
}

.carreira__conteudo {
    display: flex;
    justify-content: space-around;
}

.carreira__conteudo-lista {
    width: 35%;
}

.carreira__conteudo-lista > .subtitulo{
    font-size: 1.5rem;
    margin: 4rem 0;
    text-align: center;
}

.carreira__conteudo-item {
    border: 0.1rem solid var(--roxo-medio);
    border-radius: 1rem;
    font-size: 0.8rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
    text-align: justify;
}

.carreira__conteudo-item > .subtitulo {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: justify;
}

.carreira__texto-instituicao {
    color: var(--branco);
    font-size: 0.7rem;
    margin-left: 1rem;
}

.carreira__texto {
    color: var(--branco);
    font-size: 0.6rem;
    margin: 1rem 0;
    opacity: 0.5;
}

.carreira__detalhes {
    display: flex;
    justify-content: space-between;
}

.carreira__detalhes-periodo {
    color: var(--roxo-claro);
    font-size: 80%;
    font-weight: bold;
}

.carreira__detalhes-data {
    color: var(--roxo-claro);
    font-size: 80%;
}

/* Responsividade para mobile */
@media screen and (max-width: 480px) {
    .carreira .texto-personalizado {
        width: 50%;
    }
    .carreira > .subtitulo {
        font-size: 1.5rem;
    }
    .carreira__conteudo {
        flex-direction: column;
    }
    .carreira__conteudo-lista {
        width: 100%;
    }
    .carreira__conteudo-lista > .subtitulo{
        font-size: 1.2rem;
    }
}
