.contato {
    align-items: stretch;
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}
.contato .texto-personalizado {
    margin: 2rem 0;
    width: 20%;
}

.contato .subtitulo {
    margin-bottom: 2rem;
}

.contato__item {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    padding: 0.5rem;
}

.contato__item-card {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    padding: 0.5rem;
}

.contato__item-card:hover {
    background-color: var(--roxo-claro-opacidade);
    color: var(--branco);
    cursor: pointer;
    font-weight: bold;
    opacity: 1;
}

.contato__texto {
    color: var(--branco);
    font-size: 0.8rem;
    opacity: 0.5;
    padding: 0 1rem;
}

.contato__avatar {
    width: 40%;
}

.borda {
    border: 0.1rem solid var(--roxo-medio);
    border-radius: 1rem;
}

/* Responsividade para mobile */
@media screen and (max-width: 480px) {
    .contato {
        flex-direction: column;
    }
    .contato .texto-personalizado {
        width: 50%;
    }
    .contato__avatar {
        margin-bottom: 5rem;
        width: 100%;
    }
    .contato .subtitulo {
        font-size: 1.5rem;
    }
    .contato__texto {
        font-size: 0.7rem;
    }
    .contato__icone {
        width: 2rem;
    }
}

