.contato {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin-top: 5rem;
}
.contato .texto-personalizado {
    margin: 2rem 0;
    width: 20%;
}

.contato .subtitulo {
    margin-bottom: 2rem;
}

.contato__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin: 1rem 0;
}

.contato__item-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin: 1rem 0;
}

.contato__item-card:hover {
    cursor: pointer;
    color: var(--branco);
    background-color: var(--roxo-claro-opacidade);
    opacity: 1;
}

.contato__texto {
    padding: 0 1rem;
    color: var(--branco);
    opacity: 0.5;
    font-size: 0.8rem;
}

.contato__avatar {
    width: 40%;
}

.borda {
    border: 0.1rem solid var(--roxo-medio);
    border-radius: 1rem;
}