.rodape {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-bottom: -1rem;
}

.rodape__lista {
    display: flex;
    justify-content: center;
}

.rodape__item {
    margin: 1rem 0.5rem;
}

.rodape__item img {
    border-bottom: 1px solid var(--roxo-claro-opacidade);
    padding-bottom: 0.2rem;
}

.rodape__item img:hover {
    border-bottom: 1px solid var(--cinza-claro);
}

.rodape__texto {
    font-size: 0.7rem;
    color: var(--branco);
    opacity: 0.5;
    width: 30%;
}

@media screen and (max-width: 480px) {
    .rodape__texto {
        font-size: 0.5rem;
    }
    .rodape__icone {
        width: 1.5rem;
    }
}

