.home {
   align-items: center;
   display: flex; 
   justify-content: space-around;
   padding-top: 2rem;
}

.home__avatar {
    width: 40%;
}

.home__titulo {
    color: var(--branco);
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.home__subtitulo {
    color: var(--branco);
    font-size: 0.8rem;
    margin-bottom: 1.2rem;
    opacity: 0.5;
}

.home__midia {
    display: inline-block;
}

.home__midia img{
    border-bottom: 1px solid var(--azul-escuro);
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding-bottom: 0.2rem;
    transition: 0.3s;
    width: 1.5rem;
}

.home__midia img:hover {
    border-bottom: 1px solid var(--cinza-claro);
    border-width: 1px;
}

/* Responsividade para mobile */
@media screen and (max-width: 480px) {
    .home {
        flex-direction: column;
    }
    .home__avatar {
        width: 100%;
    }
    .home__titulo {
        font-size: 1.8rem;
    }

    .home__conteudo .texto-personalizado {
        width: 50%;
    }
    .home__subtitulo {
        font-size: 0.7rem;
    }
}