.portfolio > p {
    margin: 2rem 0;
    width: 8rem;
}

.portfolio__cabecalho {
    display: flex;
    justify-content: space-between;
}

.portfolio__cabecalho-lista {
    display: flex;
    margin-bottom: 3rem;
}

.portfolio__cabecalho-item {
    align-items: center;
    border: 0.1rem solid var(--roxo-medio);
    border-radius: 1rem;
    color: var(--roxo-claro);
    display: flex;
    font-size: 0.8rem;
    justify-content: space-evenly;
    margin-left: 2rem;
    transition: 0.3s;
    width: 10rem;
}

.portfolio__cabecalho-item:hover {
    background-color: var(--roxo-claro-opacidade);
    color: var(--cinza-claro);
    cursor: pointer;
    font-weight: bold;
}

.portfolio__projetos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio__projetos-item {
    align-items: center;
    border: 0.1rem solid var(--roxo-medio);
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    height: 25rem;
    justify-content: center;
    margin: 1.5rem;
    width: 20%;
}

.portfolio__projetos-item > .subtitulo {
    font-size: 1rem;
    margin: 1rem 1rem 0.5rem;
}

.portfolio__projetos-tecnologias > .texto-personalizado {
    font-size: 0.7rem;
    margin: 0.2rem;
}

.portfolio__imagem-projeto {
    border: 0.1rem solid var(--roxo-medio);
    border-radius: 0.5rem;
    height: 30%;
    width: 85%;
}

.portfolio__projetos-texto {
    color: var(--cinza-claro);
    font-size: 0.6rem;
    height: 30%;
    margin: 0 1rem;
    text-align: justify;
}
.portfolio__projetos-tecnologias {
    display: flex;
}

.portfolio__projetos-tecnologias .texto-personalizado {
    font-size: 0.5rem;
}
.porftfolio__plataforma-lista {
    display: flex;
}
.porftfolio__plataforma-item {
    cursor: pointer;
    text-align: center;
    margin: 0.5rem 0.5rem 1rem;
    width: 30%;
}

.porftfolio__plataforma-item:hover .portfolio__plataforma-nome {
    border-bottom: 0.1rem solid var(--roxo-claro);
    color: var(--branco);
    font-weight: bold;
}

.portfolio__plataforma-nome {
    border-bottom: 0.1rem solid var(--azul-escuro);
    color: var(--roxo-claro);
    font-size: 0.5rem;
    opacity: 0.5;
    padding-bottom: 0.1rem;
}

.porfolio__plataforma-icone {
    margin-bottom: 0.3rem;
    width: 1.8rem;
}

/* Responsividade para mobile */
@media screen and (max-width: 480px) {
    .portfolio {
        display: flex;
        flex-direction: column;
    }
    .portfolio__cabecalho-item {
        font-size: 0.6rem;
        margin: 0.2rem;
    }
    .portfolio__cabecalho-item > img{
        margin: 0.2rem;
        width: 1.5rem;
    }
    .porftfolio__plataforma-item {
        width: 80%;
    }
    .portfolio__cabecalho {
        flex-direction: column;
    }
    .portfolio__cabecalho > .subtitulo {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .portfolio__projetos-lista{
        flex-direction: column;
    }
    .portfolio__projetos-item {
        width: 80%;
    }
    
}
