.recomendacao .texto-personalizado {
    align-items: center;
    margin: 3rem 0;
    width: 15%;
}

.recomendacao .subtitulo {
    margin-bottom: 2rem;
}

.recomendacao__conteudo-lista {
    display: flex;
    
}

.recomendacao__conteudo-item {
    border: 0.1rem solid var(--roxo-medio);
    border-radius: 1rem;
    margin: 2rem;
    text-align: justify;
    padding: 1.5rem;
    width: 30%;
}

.recomendacao__texto {
    color: var(--branco);
    height: 50%;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    opacity: 0.5;
}

.recomendacao__perfil {
    display: flex;
    margin: 2rem 0;
}

.recomendacao__perfil-nome {
    color: var(--branco);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.recomendacao__perfil-area {
    color: var(--roxo-claro);
    font-size: 60%;
    font-weight: bold;
    text-align: justify;
}

.recomendacao__perfil-foto {
    margin-right: 1rem;
    width: 2.5rem;
}

/* Responsividade para mobile */
@media screen and (max-width: 480px) {
    .recomendacao .texto-personalizado {
        width: 50%;
    }
    .recomendacao .subtitulo {
        font-size: 1.5rem;
    }
    .recomendacao__conteudo-lista {
        flex-direction: column;
    }
    .recomendacao__conteudo-item {
        margin: 1rem 0;
        width: 80%;
    }
    
}