.skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills .texto-personalizado {
    margin-top: 6rem;
    width: 20%;
}

.skills .subtitulo {
    margin-bottom: 3rem;
}

.skills__lista {
    display: flex;
}

.skills__lista img{
    width: 3rem;
    height: 3rem;
}

.skills__texto {
    font-size: 0.8rem;
    color: var(--branco);
    opacity: 0.5;
    margin: 1.5rem 0;
}

.skills__item {
    margin: 1rem;
    text-align: center;
}

.skills__texto-item {
    color: var(--roxo-claro);
    font-size: 0.6rem;
    margin: 0.5rem 0;
}