.skills {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.skills .texto-personalizado {
    margin-top: 6rem;
    width: 20%;
}

.skills .subtitulo {
    margin-bottom: 3rem;
}

.skills__lista {
    display: flex;
}

.skills__lista img{
    height: 3rem;
    width: 3rem;
}

.skills__texto {
    color: var(--branco);
    font-size: 0.8rem;
    margin: 1.5rem 0;
    opacity: 0.5;
}

.skills__item {
    margin: 1rem;
    text-align: center;
}

.skills__texto-item {
    color: var(--roxo-claro);
    font-size: 0.6rem;
    margin: 0.5rem 0;
}

/* Responsividade para mobile */
@media screen and (max-width: 480px) {
    .skills__lista img{
        height: 1.3rem;
        width: 1.3rem;
    }
    .skills__texto-item {
        display: none;
    }
    .skills .subtitulo {
        font-size: 1.3rem;
    }
    .skills__item {
        margin: 0.3rem;
    }
    .skills .texto-personalizado {
        width: 50%;
    }
}